<!DOCTYPE html>
<html>
	
	<head>
		<title>Ride-my-way</title>
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/index.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <style type="text/css">
<!--
.style1 {font-family: "Courier New", Courier, monospace}
.style2 {
	font-family: "Arial Rounded MT Bold";
	font-style: italic;
}
-->
        </style>
</head>
	
	<body>
		
		<div class="MainContainer">

  			<div class="ParallaxContainer">
    			<div class="home">
	    			<h1 class="h1">Ride-My-Way</h1></br>
	    			
	           	 	<form action="/login">
						<button>Login</button>
	               	</form>
	            	
            	</div>


  			</div>

  			<div class="ContentContainer">
    			<div class="Content">
    				<h1 class="h11">About Us</h1>
				    <h3 class="style2" style="margin: 75px 0;  color: white;  letter-spacing: 0px;  line-height: 36px;  font-size: 38px; font-weight: bold;">
           			  The ultimate car pooling app
            	 		that allows you to share a ride with your friends
            	 		to various destinations.           	 		
            	 	</h3>
           	 		<p align="justify" class="p1 style1" style="margin: 75px 0;  color: #2ab7ec;  letter-spacing: -1px;  line-height: 28px;  font-size: 20px;">
           	 			Ride-My-Way is a peer-to-peer car pooling application that allows you and your friends to share a ride. Each user can offer rides and requesting to join in on offered rides, all from one account. Users can make friends on the app that enables them to see when their friends are offering rides and details such as time and destination.</br>
						So, the next time you need a ride, just pop in to Ride-My-Way and see if any of your friends are heading the same way. Sharing is caring!           	 		
					</p>
     			</div>
 			</div>
		</div>
		
		<div class="footer">
      		<p class="copyrt">&copy; Ride-My-Way 2018</p>
      		<p class="shre">Sharing is Carrying!</p>
    	</div>
    	
	</body>

</html>