*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
  transition: 0.5s;
}

body{
	background: url(../images/bg.jpg);
}
#sidebar{
	position: fixed;
	width: 220px;
	height: 40%;
	background: #151719;
	left: -220px;
	top: 90px;
 }

#sidebar.active{
	left: 0px;
}

#sidebar .toggle-btn{
	position: absolute;
	left: 235px;
	
}

#sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background-color: black;
	margin: 5px 0px;
}

#sidebar .toggle-btn span:hover {
    background-color: RoyalBlue;
    cursor: pointer;
}

.dropbtn {
	color: rgba(230,230,230,0.9);
	list-style: none;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
    font-size: 16px;
    cursor: pointer;
    width: 220px;
}

.dropdown button{
	width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
    border-bottom: 1px solid rgba(100,100,100,0.3);
    align-self: center;
    font-family: arial;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
    background-color: #151719;
    color: rgba(230,230,230,0.9);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B8B8B8;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    width: 220px;
 
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: #666666;
	list-style: inside;
	padding: 16px 12px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	width: auto;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2ab7ec;
}

#logo a{
	position: absolute;
	top: 0px; 
	left: 0px;
	width: 248px;
  height: 82px;
	display: block;
}


#logo a:hover{
outline: 1px solid RoyalBlue;
background: #2ab7ec;
opacity: 0.2;
}

#account {
	position: absolute;
	top: 0px; /*the distance of the "home" part of the image from the top*/
	left: 1150px; /*the distance of the "home" part of the image from left*/
	width: 210px; /*the width of the "home" part of the image*/
	height: 82px ;/*the height of the "home" part of the image*/
	display: block;	
}

#account #nav-ul {
 	position: absolute;
  	top: 0;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	background: #8F8F8F;
  	font-family: sans-serif;
  	font-weight: bolder;
  	text-align: right;

}

#account #nav-ul #nav-li {
  display: inline-block;
  position: relative;
  line-height: 41px;
  text-align: right;
}
#nav-a {
	color: black;
	display: block;
  	padding: 8px 25px;
    text-decoration: none;
}
#account #nav-ul #nav-li {
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}

#account #nav-ul #nav-li #nav-a:hover {
  color: #fff;
  background: #939393;
}

#account #nav-ul #nav-li #nav-ul.dropdown {
  min-width: 125px;
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

#account #nav-ul #nav-li:hover #nav-ul.dropdown {
  display: block;
}

#account #nav-ul #nav-li #nav-ul.dropdown #nav-li {
  display: block;
}

#content-main {
  top: 80px;
  bottom: 20px;
  padding: 9px;
  overflow-x: hidden;
  overflow: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  outline: 1px solid RoyalBlue;
  background: #2ab7ec;
  opacity: 0.5;
}

#content-page{
  margin-left: 100px;
  margin-top: 10px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  padding: 5px;
  background-color: #efefef;
  opacity: 0.5;
  font-family: sans-serif;
  color: #939393;
  text-align: center;
}

.footer .copyrt{
  float: left;
}

.footer .shre{
  float: right;
}
